In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import inforec
import notebook_utils as nu
from model import AbsoluteBuilder, EventBuilder

DB_DIR = 'data'

In [ ]:
# Optionally explicitly initialize the database. Will be automatically called throuth the App entry.
#inforec.InfoRecDB.init(DB_DIR)

In [3]:
app = inforec.App(DB_DIR)
collection = app.collection()

In [4]:
e1 = EventBuilder("title1").build()
e2 = EventBuilder("Title2").desc("description for title2").build()
e3 = EventBuilder("title3").before(e1.id).build()
collection.add_item(e1)
collection.add_item(e2)
collection.add_item(e3)

In [5]:
nu.dump_events(collection)

                                     ID   Title    Before After  Same
0  f6647c5d-5f9b-46e3-a97e-f1fd7a82c372  title1      None  None  None
1  484e1a15-5099-4fe4-bc28-07fa9ff27a81  Title2      None  None  None
2  dae784b5-4319-4d26-bb57-a05c20d7ae91  title3  [title1]  None  None

In [6]:
d1 = AbsoluteBuilder().date('2020-03-01').build()
e4 = EventBuilder('Event4').same(d1.id).build()
collection.add_item(d1)
collection.add_item(e4)

In [7]:
nu.dump_events(collection)

                                     ID   Title    Before After          Same
0  f6647c5d-5f9b-46e3-a97e-f1fd7a82c372  title1      None  None          None
1  484e1a15-5099-4fe4-bc28-07fa9ff27a81  Title2      None  None          None
2  dae784b5-4319-4d26-bb57-a05c20d7ae91  title3  [title1]  None          None
3  9bb0c8a8-0681-4b4b-befd-8133a97fa394  Event4      None  None  [2020-03-01]

In [8]:
app.flush()

In [8]:
event = EventBuilder("title4").before(e3.id).after(e1.id).build()
collection.add_item(event)
nu.dump_events(collection)

,ID,Title,Before,After,Same
0,f6647c5d-5f9b-46e3-a97e-f1fd7a82c372,title1,None,None,None
1,484e1a15-5099-4fe4-bc28-07fa9ff27a81,Title2,None,None,None
2,dae784b5-4319-4d26-bb57-a05c20d7ae91,title3,[title1],None,None
3,9bb0c8a8-0681-4b4b-befd-8133a97fa394,Event4,None,None,[2020-03-01]
4,4b3dd079-f448-4e5a-b603-4b80757046bb,title4,[title3],[title1],None

In [9]:
collection.has_no_conflict() or collection.conflicts() or [[ collection.get_event(eid).title for eid in lst ] for lst in collection.conflicts()]

[['f6647c5d-5f9b-46e3-a97e-f1fd7a82c372',
  '4b3dd079-f448-4e5a-b603-4b80757046bb',
  'dae784b5-4319-4d26-bb57-a05c20d7ae91']]

In [11]:
%debug

> /home/ryey/coding/inforec/storage.py(275)collection()
    273
    274     def collection(self):
--> 275         return self.db.collection
    276
    277     def flush(self):

ipdb> exit